<ion-view view-title="Questions">
  <ion-content>
    <div  ng-repeat="que in questionData | startFrom:currentPage*pageSize | limitTo:pageSize"
      ng-show="que.direction_text == null">

      <div ng-repeat="q in que.questions">

      <div class="card">
        <div class="item item-divider item-calm item-text-wrap" style="padding:0px;">
          <div class="row">
            <div class="col-5 padding">
              Q.{{$index + 1}}
            </div>
            <div class="col padding">
              <p style="color:#FFF;font-size:1.2em;">{{q.question}}</p>
            </div>
          </div>
        </div>
        <div class="item item-text-wrap">
          <div class="list">
            <div ng-repeat="option in q.options">

              <label class="item item-radio" ng-click="radioButtonIsSelected($index + 1,q,option)">
                <input type="radio" name="group">
                <div class="item-content">
                  <div class="row">
                    <div class="col-5 padding" style="border-right: 2px solid #EEE;">
                      {{$index + 1}}
                    </div>
                    <div class="col padding" style="border: 2px solid #CCC;">
                      <span>{{option}}</span>
                    </div>
                  </div>
                </div>
                <i class="radio-icon ion-checkmark-round" ng-show="($index + 1) == q.answer"
                style="padding-top: 25px;"></i>
                <i class="radio-icon ion-close-round" ng-show="($index + 1) != q.answer"
                style="padding-top: 25px;"></i>
              </label>

            </div>
          </div>
        </div>
      </div>

      </div>  <!-- question ng-repepat -->

    </div>
  </ion-content>
  <div class="bar bar-footer bar-balanced">
    <div class="button-bar">
      <button class="button button-clear" ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1;scrollTop()">Prev</button>
      <button class="button button-clear">{{currentPage+1}}/{{numberOfPages()}}</button>
      <button class="button button-clear" ng-disabled="currentPage >= questionData.length/(pageSize + 1)" ng-click="currentPage = currentPage + 1;scrollTop()">Next</button>
    </div>
  </div>
</ion-view>
